.about {
  opacity: 0;
  transition: opacity 1s;
  padding-top: 4rem; // pt-16

  &.visible {
    opacity: 1;
  }
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.skillItem {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section {
  padding: 2rem;
  margin-bottom: 5rem;
}

.sectionTitle {
  font-size: 2.25rem;
  color: white;
  margin-bottom: 1rem;
}

.sectionSubtitle {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.aboutDescription {
  max-width: 42rem;
  margin: 0 auto;
  color: #9CA3AF;
}

.textGray400 {
  color: #9CA3AF;
}

.gridTwoColumn {
  display: grid;
  align-items: start;
  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconBlue {
  color: #60A5FA;
}

.contactIcons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.contactLink {
  color: #60A5FA;
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    color: #93C5FD;
  }
}

.descritpion {
  padding: .75rem 1.25rem;
}
