.ogpCard {

  &__cardLink {
    border-radius: '8px'
  }

  &__content {
    margin: 10px 0;
    border: 1px solid #374151;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1F2937;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__leftImage {
    width: 300px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__rightText {
    padding: 10px;
    background-color: #111827;
    color: white;
    width: 100%;
  }
}
